* {
	margin: 0;
	padding: 0;
	outline: none;
}
@font-face {
	font-family: "SEGOE";
	src: url(../fonts/Segoe UI.ttf);
}
.general {
	width: 100%;
	height: 100px;
	background: white;
	margin: auto;
}
a {
	text-decoration: none;
	transition: all.6s ease;
	
}
::selection {background: green; color: white;}
.gen {
	width: 100%;
	height: 100px;
	background: green;
	margin: auto;
	position: absolute;
	top: 0px;
}
.gen1 {
	width: 1200px;
	height: 100px;
	margin: auto;
}
#logo {
	display: block;
	width: 100px;
	height: 80px;
	background: url("../logos/logoo.png") no-repeat;
	margin-top: 20px;	
	float: left;
}
.unorder {
	width: 500px;
	float: left;
	list-style-type: none;
	color: white;
}
.gen1 li {
	float: left;
	color: white;
}
.gen1 ul li a {
	display: block;
	background: #ff5500;
	margin-left: 60px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	color: white;
	margin-top: 50px;
}
.gen1 ul li a:hover {
	background: #ff220e;
}


.gen:after {
	content: "";
	display: block;
}
.center {
	width: 488px;
	height: 500px;
 	background: green;	
 	margin: auto;
 	border-radius: 10px;
 	border: 2px solid black;
 	margin-top: 10px;
	
}
.link2, .link2-2, .link2-3 {
	display: block;
	width: 70px;
	height: 70px;
	background: url("../photo/rus.jpg") no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: -20px;
	transition: all.6s ease;
}
.link1, .link1-2, .link1-3, .link1-4 {
	display: block;
	width: 35px;
	height: 22px;
	background: url("../photo/eng.jpg") no-repeat;
	float: left;
	margin-left: 175px;
	margin-top: -20px;
	transition: all.6s ease;
}
.txt1 {
	margin-left: 50px;
	padding-top: 15px;
	color: white;
}
.txt, .txt1-2 {
	color: white;
	margin-left: 30px;
	padding-top: -30px;
	float: left;
}
.link1-2 {
	background: url("../photo/ge.jpg") no-repeat;
	float: left;
	margin-left: 190px;
}
.link2-2 {
	background: url("../photo/rus.jpg") no-repeat;
	margin-left: 5px;
}
.link2-3{
	background: url("../photo/ge.jpg") no-repeat;
}
.txt1-2 {
	margin-top: -15px;
}
.txt-1 {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../photo/mail.png") no-repeat;
	margin-left: 5px;
	margin-top: 15px;
}
.txt-2, .txt-3 {
	margin-top: 15px;
	margin-left: -280px;
	float: left;
}
.txt2 {
	padding-left: 200px;
	margin-bottom: 100px;
	float: left;
	color: white;
}
.link1-4 {
	margin-left: 190px;
}
.txt-3 {
	margin-right: 10px;
}

/*<hr size="100px"/>
 <label for="phones">Which phone do you like more?</label>

<select>
	<option>iPhone</option>
	<option>Samsung</option>
</select>		*/



